
<div class="login-signup">
<div class="login">
<form class="login-form">
    <h2>Log In</h2>
  <div>
    <input type="text" id="email-login" placeholder="Email" />
  </div>
  <div>
    <input type="password" id="password-login" placeholder="Password" />
  </div>
  <div>
    <button type="submit" id="login-btn">Log in</button>
  </div>
</form>
</div>

<div class="signup">
<form class="signup-form">
    <h2>Sign Up</h2>
  <div>
    <input type="text" id="username-signup" placeholder="Username" />
  </div>
  <div>
    <input type="text" id="email-signup" placeholder="Email" />
  </div>
  <div>
    <input type="password" id="password-signup" placeholder="Password" />
  </div>
  <div>
    <button type="submit">Sign up</button>
  </div>
</form>
</div>
</div> 


<script src="/javascript/login.js"></script> 
